<div class="h-[60vh] relative p-20 z-10 bg-neutral-900 font-noto">
   { /* <img src="/features.png"  class="absolute  inset-0 -z-10 w-full h-full  object-cover"/> */ }
   <div class="container mx-auto z-20 relative sm:grid-cols-[repeat(auto-fill,minmax(500px,1fr))] grid">
      <a href="/block/navigation" class="bg-neutral-900  hover:bg-neutral-800 transition-colors border border-neutral-700/60 rounded-xl flex shadow justify-between flex-col p-4 pb-0 overflow-hidden">
        <div class="bg-black w-full shadow h-44 rounded-xl flex items-center justify-center text-2xl font-black text-white border border-neutral-800">Navigation Bar</div>
        <div class="p-4 pr-0 flex justify-between">
           <div>   
              <h3 class="text-white font-medium text-lg">Navigation Bar</h3>
              <p class="text-white  block  w-fit mt-2 text-center px-6 py-2 bg-blue-600 rounded-md">8 blocks</p>
           </div>
           <div class="bg-neutral-900 self-end py-2  px-6 inline-flex items-center font-medium rounded-md text-blue-500 border border-neutral-700/60">Application UI</div>
        </div>
      </a>
     </div>
  </div>