<div class="sticky bg-primary-500 font-noto">
  <div class=' flex z-50 justify-between items-center h-24 p-8 container mx-auto'>
    <h1 class='text-3xl text-white  bg-clip-text text-transparent bg-gradient-to-tr from-blue-200 to-white font-black'>
      TurwindUI
    </h1>
    <div class='flex'>
      <button class='text-white px-6 py-3 border bg-blue-500 border-blue-400 rounded-full active:bg-opacity-75'>
        Send Feedback
      </button>
    </div>
  </div>
</div>